build/*
.idea/*
.gradle/*
app/build/*
app/release/*
dtoslib/dtoslib.iml

android.iml
app/app.iml
app/android-app.iml
local.properties
V-android.iml

fastlane/README.md
fastlane/report.xml
fastlane/metadata

.DS_Store
/gradle/wrapper/
